@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* no seu arquivo Tailwind */
body {
    background-color: white;
}

body.dark {
    background-color: #0D1420;
    color: white;
}

body.dark div {
    border-color: #34445f;
}

body.dark tr {
    background-color: #131d30;
    color: white;
}

body.dark tr:hover {
    background-color: #34445f;
    color: white;
}

body.dark footer {
    background-color: #131d30;
    color: #ababab;
    border-color: #34445f;
}

body.dark header {
    background-color: #131d30;
    color: #ababab;
    border-color: #34445f;
}

body.dark header nav {
    background-color: #162136;
}

body.dark header a  {
    color: white;
}

body.dark header button  {
    color: white;
}

body.dark header input  {
    background-color: #2d3246;
}

body.dark header ul  {
    background-color: #2d3246;
}

body.dark header ul li {
    border-bottom: none;
    color: white;
}

body.dark header ul li:hover {
    background-color: #34445f;
}

body.dark header ul:hover {
    border: red;
    border-radius: 8px;
}

body.dark section div li {
    background-color: #2d3246;
}

body.dark section div button {
    background-color: #2d3246;
}

body.dark section div a {
    background-color: #2d3246;
}

body.dark section div div ul li div a {
    color: #d8d8d8;
}

body.dark section div div ul li div button {
    color: #d8d8d8;
}